/LuaDkmDebugger/bin
/LuaDkmDebugger/obj
/LuaDkmDebuggerComponent/bin
/LuaDkmDebuggerComponent/obj
/.vs
/Tests/bin
/Tests/obj
/TestResults
/packages
/Debug
/LuaDebugHelper_x86/Debug
/LuaDebugHelper_x86/Release
*.user
*.ilk
*.pdb
*.dll
*.exp
*.lib
*.iobj
*.ipdb
/LuaDebugAttacher_x64/x64
/LuaDebugHelper_x64/x64
/builds
/LuaDkmDebugger17/bin
/LuaDkmDebugger17/obj
/LuaDkmDebuggerShared/*.exe
